.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    margin-left: 50px;
    margin-top: 10px;
}

.comp {
    border-radius: 30px;
    height: 600px;
    width: 300px;
    font-size: 35px;
    font-family: 'Comforter Brush', cursive;
    text-align: center;
    background-color: rgb(53, 53, 53);
    color:  orangered;
}

.comp img {
    height: 350px;
    width: 90%;
    margin-top: 10px;
    border-radius: 10px;
}

